{{ define "Edit" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Majoo Test</title>
    <meta charset="UTF-8" />
</head>
<body>
  <center>
    <h1>Form Edit User</h1>   
    <a href="/">HOME</a> | 
    <a href="/new">NEW</a>
    <h2>Edit Name and City</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .ID }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Nama }}"  /><br />
      <label> Email </label><input type="text" name="email" value="{{ .Email }}"  /><br />
      <label> Foto </label><input type="file" name="foto" value="{{ .Foto }}"  /><br />
      <label> Password </label><input type="password" name="password" value="{{ .Password }}"  /><br />
      <input type="submit" value="Save user" />
    </form><br />  
  </center>  
	</body>
</html>
{{ end }}