{{ define "Index" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Majoo Test</title>
    <meta charset="UTF-8" />
</head>
<body>
    <center>
    <h1>CRUD Table User</h1>   
    <a href="/">HOME</a> | 
    <a href="/new">NEW</a>
    <h2> Registered </h2>
    <table border="1">
        <thead>
            <tr>
                <td style="width: 5px;">ID</td>
                <td style="width: 200px;">Name</td>
                <td style="width: 200px;">Email</td>
                <td style="width: 200px;">Foto</td>
                <td style="width: 20px;">View</td>
                <td style="width: 20px;">Edit</td>
                <td style="width: 20px;">Delete</td>
            </tr>
        </thead>
        <tbody>
        {{ range . }}
            <tr>
                <td>{{ .ID }}</td>
                <td> {{ .Nama }} </td>
                <td>{{ .Email }} </td> 
                <td>{{ .Foto }} </td> 
                <td><a href="/show?id={{ .ID }}">View</a></td>
                <td><a href="/edit?id={{ .ID }}">Edit</a></td>
                <td><a href="/delete?id={{ .ID }}">Delete</a></td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    </center>
</body>
</html>
{{ end }}