{{ define "New" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Golang Mysql Curd Example</title>
    <meta charset="UTF-8" />
</head>
<body>
  <center>
    <h1>Golang Mysql Curd Example</h1>   
    <a href="/">HOME</a> | 
    <a href="/new">NEW</a>
    <h2>New Name and City</h2>  
    <form method="POST" action="insert" enctype="multipart/form-data">
      <div>
        <label> Name </label><input type="text" name="name" /><br />
      </div>
      
      <label> Email </label><input type="text" name="email" /><br />
      <label> Foto </label><br><input type="file" name="foto" /><br />
      <label> Pass </label><input type="password" name="password" /><br />
      <input type="submit" value="Save user" />
    </form>
  </center>
	</body>
</html>
{{ end }}